[http]
  # proxy = http://123.123.123.123:8080
  # sslCAInfo = ~/proxy.crt

[alias]
  st = status
  ci = commit
  co = checkout
  l = log --graph --pretty=format:'%Cgreen%h%d%Creset %ar %Cgreen%ae%Creset %s'

[oh-my-zsh]
  # BEGIN ANSIBLE MANAGED BLOCK FOR GIT_HIDE_DIRTY
  # END ANSIBLE MANAGED BLOCK FOR GIT_HIDE_DIRTY

[core]
  pager = cat

